.mainDiv{
    margin-top: 50px;
    color: #fff;
    padding: 15px;
    background: rgba(255, 255, 255, 0.52);
    border: 7px solid rgba(0, 0, 0, 0.54);
    border-radius: 63px;
}
body{
    background: url('./new2222.png');
    height: 100vh;
    width: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar_gradient{
    background-image: linear-gradient(#000000 , #974048);
    /* display: flex; */
    width: 100vw;
    height: 20vh;
}

.swapbox_select {
    width: 50%;
    float: left;
}
.swapbox{
    overflow: auto;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #565656;
    background: linear-gradient(180deg, #E18049 0%, rgba(225, 128, 73, 0.36) 99.98%, rgba(225, 128, 73, 0.015625) 99.99%, rgba(225, 128, 73, 0) 100%);
    border-radius: 30px;
}

.headingDes{
    font-weight: bold;
    font-size: 34px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.estimateGasDesign{
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.token_select{
    padding:5px 0;
}
.token_select:hover{
    background: linear-gradient(180deg, #E18049 0%, rgba(225, 128, 73, 0.36) 99.98%, rgba(225, 128, 73, 0.015625) 99.99%, rgba(225, 128, 73, 0) 100%);
    cursor: pointer;
    
}
.token_list_img, .token_image{
    width: 40px;
}
.modal-body{
    height: 600px;
    overflow: scroll;
}
.token_row{
    padding: 5px 10px;
}
.token_row:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}

.wallet--btn {
    width: 249px;
    height: 64px;
    background: linear-gradient(180deg, rgba(236, 216, 160, 0.74) 0%, rgba(170, 145, 75, 0.74) 100%);
    background-blend-mode: darken;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    font-family: 'Arimo';
    font-weight: bold;
    font-size: 28px;
    line-height: 23px;
    color: #fff;
    text-shadow: 2px #000;
}

.shadowOutline {
  text-shadow: 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048, 0 0 4px #974048;
}

.swapButton--design{
    width: 530px;
    height: 57px;
    font-weight: 400;
    font-size: 25px;
    font-style: bold;
    background: linear-gradient(180deg, #FCE29C 0%, #974048 0.01%, rgba(150, 64, 72, 0.27) 3.12%, #7C3A42 99.98%, rgba(122, 56, 65, 0.0416667) 99.99%, rgba(122, 56, 65, 0) 100%);
    border-radius: 10px 10px 50px 50px;
    letter-spacing: 0.1em;
    color: #000000;
}

.inputCoin{
    border-radius: 20px;
}

.shadow{
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}
